.nose1 {
    margin-top: 445px;
    margin-left: 550px;
    position: fixed;
}
.nose2 {
    margin-top: 380px;
    margin-left: 580px;
    position: fixed;
}
.moustache1 {
    margin-top: 455px;
    margin-left: 620px;
    transform:rotate(105deg);
    position: fixed;
}
.moustache2 {
    margin-top: 455px;
    margin-left: 545px;
    transform:rotate(75deg);
    position: fixed;
}
.head {
    margin-top: 105px;
    margin-left: 385px;
    position: fixed;
}
.smile {
    margin-top: 508px;
    margin-left: 525px;
    position: fixed;
}
.eye1-1 {
    margin-top: 308px;
    margin-left: 505px;
    position: fixed;
}
.eye1-2 {
    margin-top: 325px;
    margin-left: 523px;
    position: fixed;
}
.eye2-1 {
    margin-top: 308px;
    margin-left: 645px;
    position: fixed;
}
.eye2-2 {
    margin-top: 325px;
    margin-left: 663px;
    position: fixed;
}
.hat1 {
    margin-top: 105px;
    margin-left: 405px;
    position: fixed;
}
.hat2 {
    margin-top: 25px;
    margin-left: 490px;
    position: fixed;
}
.ear1 {
    margin-top: 265px;
    margin-left: 340px;
    position: fixed;
}
.ear2 {
    margin-top: 265px;
    margin-left: 790px;
    position: fixed;
}
.headelement1 {
    margin-top: 285px;
    margin-left: 500px;
    position: fixed;
}
.headelement2 {
    margin-top: 285px;
    margin-left: 650px;
    position: fixed;
}